[mysqld]
# error log
log_error = /var/log/mysql-slave/error.log

# slow query
long_query_time = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql-slave/slow.log
slow-query-log = 1
log-queries-not-using-indexes

# general query
general_log = 1
general-log-file=/var/log/mysql-slave/general.log

# binary log
server-id = 2
log_slave_updates = 1
binlog_format = STATEMENT
binlog_cache_size = 2M
max_binlog_cache_size = 4M
max_binlog_size = 512M
log-bin = binlog
log-bin-index = binlog.index


# timezone of UTC
default-time-zone='+00:00'

# port
port=3307

# slave read only
read_only = 1

# relay_log
relay_log=/var/lib/mysql-slave/relay_log
