[mysqld]
# base config
user = mysql
pid-file = /var/lib/mysql/mysql.pid
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
port = 3306

# error log
log_error = /var/log/mysql/error.log

# slow query
long_query_time = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
slow-query-log = 1
log-queries-not-using-indexes

# general query
general_log = 1
general-log-file=/var/log/mysql/general.log

# binary log
server-id = 1
binlog_format = STATEMENT
binlog_cache_size = 2M
max_binlog_cache_size = 4M
max_binlog_size = 512M
log-bin = binlog
log-bin-index = binlog.index

# timezone of UTC
default-time-zone='+00:00'

# relay_log
relay_log=/var/lib/mysql/relay_log
