{{ template "layout" . }}
{{ define "content"}}
<content-top>
    <div class="content-top clearfix">
        <h1 class="al-title ng-binding">权限列表</h1>

        <ul class="breadcrumb al-breadcrumb">
            <li>
                <a href="/admin/privileges">权限列表</a></li>
            <li>权限管理</li>
        </ul>
    </div>
</content-top>
<div>
    <div class="widgets">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="panel with-scroll animated zoomIn">
                        <div class="panel-body">
                            <div class="ng-scope">
                                <div class="add-row-editable-table">
                                    <button class="btn btn-primary btn-add">添加</button>
                                    <button class="btn btn-danger btn-submit-checked"
                                    data-url="/admin/privileges/delete">删除</button>
                                </div>
                                <div id="add" style="display: none">
                                    <form class="form form-horizontal"
                                          method="POST"
                                          action="/admin/privileges/create"
                                          onsubmit="return false">
                                        <div class="form-group">
                                            <label for="Name" class="col-sm-1 control-label">名称</label>
                                            <div class="col-sm-6">
                                                <input name="name" type="text" class="form-control" id="Name" placeholder="Name"
                                                       data-regexp="^.{1,}$" data-msg="名称不能为空"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Group" class="col-sm-1 control-label">权限组</label>
                                            <div class="col-sm-6">
                                                <input name="group" type="text" class="form-control" id="Group" placeholder="Group"
                                                       data-regexp="^.{1,}$" data-msg="权限组不能为空"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Privilege" class="col-sm-1 control-label">权限</label>
                                            <div class="col-sm-6">
                                                <input name="privilege" type="text" class="form-control" id="Privilege" placeholder="Privilege"
                                                       data-regexp="^(POST|GET) \/[a-zA-Z\/]+$" data-msg='权限格式是"POST /a/b"或"GET /a/b"'/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <button style="width: 150px" type="button" class="btn btn-submit btn-info">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <table id="datatable"
                                       class="table table-bordered table-hover table-condensed"
                                       cellspacing="0" width="100%"
                                       data-url="/admin/privileges/datatable"
                                       data-dtconf='{{.DtConf}}'>
                                    <thead>
                                    <tr>
                                        <th class="table-checkbox">全选&nbsp;<input type="checkbox" > </th>
                                        <th>ID</th>
                                        <th>名称</th>
                                        <th>组</th>
                                        <th>权限</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        app_data_table({
            currentTarget: '#datatable',
            columnDefs: [
                {
                    targets: "_all",
                    render: function (val, type, data, meta) {
                        if (meta.col == 0) {
                            return '<input type="checkbox" name="id[' + data[1] + ']"/>';
                        }else if (meta.col == 5) {
                            return app_submit_button("edit", "/admin/privileges/edit?id=" + data[1], false, false);
                        }
                        return val;
                    }
                }
            ]
        });
    });

</script>
{{ end }}